<h1>美食餐廳論壇</h1>
<ul>
  <%= link_to 'TOP10 Restaurants ', ranking_restaurants_path %>
</ul>
<ul>
  <%= link_to '達人專頁 ', users_path %>
</ul>

<ul>
  <% @categories.each do |category| %>
    <span> | </span>
    <%= link_to category_restaurants_path(category) do %>
      <%= category.name %>
    <% end %>
  <% end %>
</ul>

<% @restaurants.each do |restaurant| %>
  <%= image_tag(restaurant.image, :width => 350, :height => 240) %>
  <h1><%= restaurant.name %></h1>
  <%= render :partial => 'favorites', :locals => { :restaurant => restaurant } %>
  <%= restaurant.description %>
  <%= link_to 'See More...', restaurant_path(restaurant) %>
<% end %>
<%= paginate @restaurants %>
